@media screen and (max-width: 1000px){

    #dash_div1{
        flex-direction: column !important;
        align-items: start !important;
    }

    .dash_divider1{
        margin-left: 0rem !important;
        width: 90% !important;
        height: 1px !important;
    }

    .dash_div2{
        margin-left: 1rem !important;
    }

    .dash_div3{
        flex-direction: column !important;
    }

    .dash_title1{
        margin-top: 1.2rem !important;
        margin-left: 0rem !important;
    }

    #company1{
        padding-right: 0rem !important;
    }

    #teams_overview1{
        display: none !important;
    }

    #chats{
        overflow: auto;
        justify-content: center;
        align-items: center;
        padding-left: 0rem !important;
    }

    #up_bar{
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    #company1{
        align-items: center;
    }

    .div_resize_mobile{
        flex-direction: column !important;
    }

    .resized_mobile_div1{ 
        width: 100% !important;
    }

    #chart1{
        width: 100% !important;
    }


    #notifications{
    align-items: center;
     padding-left: 0rem !important;
     padding-right: 0rem !important;
    }
        
    #team{
        flex-direction: column !important;
        align-items: center;
         padding-left: 0rem !important;
         padding-right: 0rem !important;
        }

    #account_button{
        display: none !important;
    }

    #notifications_button{
    }

    #toggle_theme{
        color: white !important;
        display: none !important;
    }

    #under_bar{
     display: flex;
    }

    #dash{
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
        height: 100% !important;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        padding-right: 0rem !important;
    }

    .button1{
        margin-right: 0rem !important;
    }

    .left1{
        display: none !important;
    }

    .card1{
        width: 85% !important;
        backdrop-filter: none !important;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .divider2{
        width: 90% !important;
    }

    ::-webkit-scrollbar{
        width: 0px !important;
        margin-right: 0rem !important;
         }
        
        ::-webkit-scrollbar-thumb {
         background: transparent !important;
        }

        #up_bar{
            height: 9% !important;
            width: 100% !important;
        }

        ::-webkit-scrollbar {
            width: auto;
            height: auto;
        }

      

}




@media screen and (min-width: 1001px) {


    #chats{
        margin-left: 1rem;
    }


    #under_bar{
        display: none !important;
    }

    .row{
        padding-top: 1rem;
        position: relative;
        height: 89%;
        width: 100%;
    }

    .img1{
       height: 15rem !important;
    }

    #add_selection{
       height: auto;
       width: 50% !important;
    }

    #account_settings{
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .settings_list1{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto !important;
        width: 100% !important;
        height: 100% !important;
      
    }

    .settings_card1{
        width: 50% !important;
        height: 100% !important;
    }

    .img2{
      
        height: 30% !important;
    }

    .act_sep1{
        display: flex !important;
        flex: 1;
        width: 10%;
    }

    .img3{
        width: 30% !important;
    }

    #login{
        max-width: 40%;
    }

    #register{
        max-width: 40% !important;
    }    

}

