body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.description_table_section{
    max-width: 10rem;
    overflow-x: auto;
}


#add_task1{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.292);
}

#change_accounting{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.292);
}


#add_accountings1{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.292);
}



#master_container{
    z-index: 0;
    display: flex;
    width: 100%;
    height: 100%;
    }

    .dinamic_p1{
        margin-top: 0rem !important;
    }

.cell9{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#create_company1{
    display: none;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: #1b1b1b4f;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.071);
    border-radius: 1rem;
}

#change_project{
    display: none;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#change_brand{
    display: none;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#change_task{
    display: none;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}


#team{
    display: none;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    flex: 1;
    height: 95%;
    width: 100%;
    padding-right: 1rem;
    }

    #accountings{
        display: none;
        flex-direction: column;
        overflow-y: auto;
        flex: 1;
        height: 95%;
        width: 100%;
        padding-right: 1rem;
        }
    
    #projects{
        display: none;
        flex-direction: column;
        padding-right: 1.3rem;
        width: 100%;
        height: 100%;
        }
    
        #brands{
            display: flex;
            flex-direction: column;
            padding-right: 1.3rem;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            }

#create_team1{
    display: none;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#project_create1{
    display: none;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}


#brand_create1{
    display: none;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}


#brand_create1{
    display: none;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}


#change_company1{
    display: none;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#notification1{
    display: none;
    pointer-events: none;
    position: fixed;
    z-index: 999999999999;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    overflow-y: auto;
}

.table1 {
    border-collapse: collapse;
    border-radius: 10px;
    }

    .button1{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
flex-direction: row;
align-items: center;
justify-content: start;
font-family: 'Montserrat';
font-size: 18px;
    }


#chat-messages{
    overflow-y: auto;
    flex-direction: column;
    display: flex;
}

#team_selector1{
    display: none;
}

#user_team_selector{
    display: none;
}

#logged{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#project1{
    display: none;
}

#company1{
    display: none;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    height: 95%;
    width: 100%;
    padding-right: 1rem;
}

#projects1{
    display: none;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    height: 95%;
    width: 100%;
    padding-right: 1rem;
}


#brands{
    display: none;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    height: 95%;
    width: 100%;
    padding-right: 1rem;
}

#tasks{
    display: none;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    height: 95%;
    width: 100%;
    padding-right: 1rem;
}


#no_logged{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

#register{
    display: none;
}

#dash{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    overflow-x: hidden;
    height: 95%;
    width: 100%;
    padding-right: 1rem;
}


#account_settings{
    display: none;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    height: 95%;
    width: 100%;
    padding-right: 1rem;
}

#change_task_form{
    display: none;
}

#instr_outcome_form{
    display: none;
    flex-direction: column;
}

#add_selection{
    display: flex;
    flex-direction: column;
}

#create1{
    display: none;
    width: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.buttonLEFT{
    width: 90%;
}

button:hover{
    cursor: pointer
}

::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
     }
    
    ::-webkit-scrollbar-thumb {
     background: #989191a0;
     border-radius: 10px;
    }

    
.row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    }


    #toggle_theme{
width: 100%;
background: transparent;
border: transparent;
color: rgb(40, 39, 39);
font-family: 'Montserrat';
font-size: 18px;
margin-left: 0.2rem;
margin-top: 10px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: start;
margin-right: 3rem;
    }

    .settings_button{
        font-family: 'Montserrat';
        display: flex;
        flex-direction: row;
        background: transparent;
        border: 1px solid transparent;
        align-items: center;
        justify-content: start;
        margin-top: 0.5rem;
        font-weight: bold;
    }
    

    #accounting_create1{
        width: 100%;
        display: none;
    }

    #send_mail1{
        display: none;
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
    }