@media screen and (max-width: 1000px) {
    .static-image{
        width: 80%;
    }

    .fluctuating-image{
        margin-bottom: 20%;
        width: 100%;
        object-fit: contain;
    }

    #desktop-menu1{
        display: none;
    }

    #header{
        justify-content: space-between;
    }

    #resp-img1-container{
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }

    #resp-img2{
        margin-bottom: -1.5rem;
        width: 90% !important;
    }

    #resp-img5{
        width: 100% !important;
    }

    #resp-div2{
        flex-direction: column !important;
    }

    #resp-div3{
        flex-direction: column !important;
    }

    #resp-img3{
        display: none !important;
    }

    #resp-text1{
        width: 90% !important;
    }

    #resp-text2{
        text-align: left !important;
        width: 90% !important;
        margin-bottom: -8rem;
    }

    #resp-div4{
        padding-left: 2rem;
        align-items: start !important;
        justify-content: center !important;
    }

    #resp-img4{
        width: 90% !important;
    }

}


@media screen and (min-width: 1001px) {
    #desktop-menu1{
        display: flex;
    }

    #resp-img1{
        width: 25% !important;
        margin-right: 5rem;
    }

    #resp-img2{
        margin-bottom: -5rem;
    }

    #resp-img1-container{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100% !important;
    }

    ::-webkit-scrollbar{
        position: absolute;
        z-index: 99999 !important;
        width: 0.6rem;
    }

    ::-webkit-scrollbar-thumb{
        background: rgb(107, 107, 107);
        border-radius: 1rem;
    }

    ::-webkit-scrollbar-thumb:hover{
        background: rgb(66, 66, 66);
    }
}