/* You can add global styles to this file, and also import other style files */
body, html{
    background: #0b1624;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    font-family: 'Inter';
    color: white;
}

.master_overlay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.header{
    pointer-events: all;
    width: 97%;
    height: 4rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.064);
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.023);
}

.master_container{
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.general_paragraph1{
    font-size: 1.5rem;
}

.general_title1{
    font-size: 3rem;
}

 .button1{
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    color: #fff;
    min-width: 8em;
    min-height: 2.8rem;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
  }
  
  .button1:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  .button1:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  .button1:hover::before {
    filter: blur(20px);
  }
  
  .button1:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  }

  .a1{
    color: white;
    font-family: 'Inter';
    text-decoration: none;
  }

  .a1:hover{
    color: rgb(71, 80, 105);
    font-family: 'Inter';
    text-decoration: none;
  }

@media screen and (max-width:1000px) {
    .resp-header-section1{
        display: none !important;
    }

    .general_title1{
        font-size: 2rem !important;
    }
    .general_paragraph1{
        font-weight: 400 !important;
        font-size: 1.5rem !important;
    }

    .resp-img1{
        width: 95% !important;
    }

    .desktop-img1{
        display: none !important;
    }

    .mobile-img1{
        width: 95% !important;
        display: flex !important;
    }

    .resp-div1{
        width: 90% !important;
        flex-direction: column !important;
    }

    .internal-resp-div1{
        width: 100% !important;
    }
}

@media screen and (min-width: 1000px) {
    ::-webkit-scrollbar{
        background: transparent;
        width: 0.8rem;
    }
    
    ::-webkit-scrollbar-thumb{
        background: #292f39;
        border-radius: 1rem;
    }
    
    ::-webkit-scrollbar-thumb:hover{
        background: #3c424d;
    }
    
    ::-webkit-scrollbar-thumb:active{
        background: #737983;
    }

    .resp-div1{
        width: 65% !important;
    }
}


@media screen and (min-width: 1500px) {
    .resp-div1{
        width: 60% !important;
    }
}